.skills{
    text-align: center;
    h2{
        font-size: 4.8rem;
      font-weight: 700;
      padding-bottom: 2rem;
    }
    p {
        font-size: 1.8rem;
        font-weight: 400;
        padding-right: 2rem;
      }
      .skillSection{
        width: 90px;
      }
}