@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');
@import "./components/NavbarComponent/navbar.scss";
@import "./components/HeroComponent/hero.scss";
@import "./components/SkillsComponent/skills.scss";

/******GLOBAL**************/
:root {
  --background-color: #e6e7ee;
  --text-color: #141b23;
  --shadow-one: #c7c7c7;
  --shadow-two: #fff;
  --text-color-hero: black;
  --text-color-web: #59c378;
  --filter-invert: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}