.chat{
    font-size: 1.8rem !important;
    .chatImg{
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    .responsive-image {
        max-width: 100%; 
          
      
        @media (max-width: 768px) {
          content: url('../../assets/img/icon/smallChatImg.png');
            height: 40px;
            width: 40px;

            .heightChat{
                height: 60vh;
            }
        }
      
        @media (min-width: 769px) {
          content: url('../../assets/img/icon/liveChat.png');
          
          .heightChat{
            height: 60vh;
        }
        }
    }
    .exitImg{
        border: none;
    }
    .chatTable{
        width: 300px;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
    }
    .heightChat{
        height: 60vh;
    }
}